@model (Tag tag, string error)

@{
    ViewBag.Title = "Теги: удаление";
}

<h2 style="margin-left: 10px">Удалить тег</h2>

<h3 style="margin-left: 10px">Вы точно хотите удалить этот тег?</h3>
<div style="margin-left: 10px">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.tag.NameForLabels, "Название для пользователя:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tag.NameForLabels)
        </dd>

        <dt>
            @Html.LabelFor(model => model.tag.NameForLinks, "Название для ссылки:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tag.NameForLinks)
        </dd>
    </dl>
   <div class="text-danger">@Model.error</div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку тегов", "Index")
        </div>
    }
</div>
